<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>crud operation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
        <h1 class="text-center  text-decoration-underline ">Wellcome to homepage</h1>
        <div class='text-center'>
            <a class="btn btn-primary " href="{% url "logout" %}">logoutpage</a> 
            <a class='btn btn-primary 'href="{% url "add" %}">Add a student</a>
        </div>
        <div class="container ">
          
            <table class="table">
               <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name </th>
                    <th>Roll</th>
                    <th>Email</th>
                    <th>Image</th>
                    <th>Actions</th>
                  </tr>
               </thead>
               <tbody>
                  {% for s in students  %}
                     <tr>
                        <td>{{s.id}}</td>
                        <td>{{s.name}}</td>
                        <td>{{s.roll}}</td>
                        <td>{{s.email}}</td>
                        <td><img src="{{s.img.url}}" width="50px" alt=""></td>
                        <td>
                          <a href="{% url "edit" s.id %}" class="btn btn-warning">Update</a>
                          <a href="{% url "delete" s.id %}" class="btn btn-danger">Delete</a>
                          
                        </td>
                     </tr>
                  {% endfor %}
               </tbody>
            </table>
          
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>